<!doctype html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>User Database</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-resource.js"></script>
    <script src="http://d3js.org/d3.v3.js"></script>
    <script src="application.js"></script>
    <style>
      .node {
        stroke: #fff;
        stroke-width: 1.5px;
      }
      .link {
        stroke: #999;
        stroke-opacity: .6;
      }
    </style>
  </head>
  <body ng-controller="UserController">
    <section class="container">
      <section ng-hide="modify">
        <h1>Choose a user</h1>
        <select ng-model="selected" ng-options="u.name for u in users" ng-click="selectUser">
          <option value="">--- choose a user ---</option>
        </select>
        <button ng-click="newUser()" class="btn btn-primary">New User</button>
      </section>
      <section ng-show="modify">
        <h1 ng-show="adding">Add a user</h1>
        <h1 ng-hide="adding">Modify a user</h1>
        <form role="form">
          <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="selected.name" type="text" class="form-control" id="name" placeholder="Enter user name">
          </div>
          <button ng-hide="adding" ng-click="modifyUser()" class="btn btn-primary">Change User</button>
          <button ng-show="adding" ng-click="modifyUser()" class="btn btn-primary">Add User</button>
        </form>
      </section>
    </section>
  </body>
</html>
